<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>metrogas</title>
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <!-- build:css styles/main.css -->
    <link rel="stylesheet" href="styles/style.css">
    <link rel="stylesheet" href="styles/ionic.min.css">
    <!-- endbuild -->
</head>
<body ng-app="metrogas">
        
        <div style="margin: 30px auto;">
            <div class="text-center">
               <img src="images/metrogas-logo.png" alt="">
            </div>
            <div class="row">
                <div class="col text-center">
                    <div class="list list-inset login">
                        <form ng-submit="login()">
                            <label class="item item-input">
                                <input type="text" placeholder="Usuario" ng-model="data.username" autofocus ng-required="true">
                            </label>
                            <label class="item item-input ">
                                <input type="password" placeholder="Contraseña" ng-model="data.password" ng-required="true">
                            </label>
                            <div class="row" style="margin-top: 15px;">
                                <div class="col text-center">
                                    <input type="submit" button class="button button-wide button-large button-metrogas" ng-class="{ disabled: (data.username == '' || data.password == '') || (data.username == undefined || data.password == undefined)}" value="Entrar">
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        
    <srcipt src="phonegap.js"></srcipt>
    <!-- build:js scripts/main.js -->
    <script src="scripts/ionic.min.js"></script>
    <script src="scripts/ionic.bundle.min.js"></script>
    <script src="scripts/angular-ui-router.min.js"></script>
    <script src="scripts/ng-cordova.min.js"></script>
    <script src="scripts/angular-filter.min.js"></script>
    <script src="scripts/angular-resource.min.js"></script>
    <script src="scripts/app.js"></script>
    <script src="scripts/controller.js"></script>
    <script src="scripts/services.js"></script>
    <!-- endbuild -->
</body>
</html>