<ion-header-bar class="bar-metrogas" align-title="center">
    <button class="button button-icon" ng-click="toggleMenu()">
        <i class="icon ion-navicon"></i>
    </button>
    <h1 class="title">{{direccion}}</h1>
</ion-header-bar>
<ion-content style="margin-bottom: 50px;">
    <ion-list>
        <ion-item ng-repeat="accion in accionesComerciales" ng-click="openModal(2)">
            <p>{{accion.id}}</p>
            {{accion.accion}}
        </ion-item>
    </ion-list>
</ion-content>

<div class="bar bar-footer row">
    <div class="col col-50">
        <button class="button icon-left ion-plus-circled" ng-click="openModal(1)">Acciones Comerciales</button>
    </div>
    <div class="col col-50">
        <button class="button icon-left ion-checkmark-round" ui-sref="app">Terminar</button>
    </div>
</div>