    <ion-modal-view>
        <ion-header-bar>
            <h1 class="title">Filtrar</h1>
            <button class="button button-small" ng-click="closeModal()">X</button>
        </ion-header-bar>
        <ion-content>
            <div>
                <label class="item item-input item-select">
                    <div class="input-label">
                        Accion Comercial
                    </div>
                    <select>
                        <option ng-repeat="(key, value) in tac" ng-model="model.accion" ng-value="tac.id">tac.tipo_accion</option>
                    </select>
                </label>

                <label class="item item-input">
                    <span class="input-label">Fecha de accion</span>
                    <input type="date" style="text-align: right" ng-model="model.fecha_accion" ng-value="date">
                </label>

                <label class="item item-input item-stacked-label row">
                    <div class="col">
                        <h2 class="input-label">Resultado de la accion</h2>
                    </div>
                    <div class="col">
                        <input type="text" placeholder="Escriba aquí el resultado" ng-model="model.resultado">
                    </div>
                </label>

                <label class="item item-input">
                    <span class="input-label">Fecha del resultado</span>
                    <input type="date" style="text-align: right" ng-model="model.fecha_resultado" ng-value="date">
                </label>

                <div class="row">
                    <div class="col padding-horizontal">
                        <button class="button button-assertive" ng-click="cancel()">Anular</button>
                    </div>
                    <div class="col padding-horizontal">
                        <button class="button button-metrogas" ng-class="{disabled: (model.contactada == '' || model.contactada == undefined)}" ng-click="enviar()">Enviar</button>
                    </div>
                </div>
            </div>
        </ion-content>
    </ion-modal-view>
