    <ion-modal-view>
        <ion-header-bar>
            <h1 class="title">Agregar Acción Comercial</h1>
            <button class="button button-small" ng-click="closeModal(1)">X</button>
        </ion-header-bar>
        <ion-content>
            <form>
                <div>
                    <label class="item item-input item-select">
                        <div class="input-label">
                            Accion Comercial
                        </div>
                        <select name="action_id" ng-model="model.accion_id" id="ddlViewBy">
                            <option value="">Selecciona</option>
                            <option ng-repeat="data in tac" value="{{data.id}}">{{data.tipo_accion}}</option>
                        </select>
                        <input type="hidden" name="accion" id="hidden" ng-model="model.accion">
                    </label>

                   <!-- <label class="item item-input">
                        <span class="input-label">Fecha de accion</span>
                        <input type="date" style="text-align: right" ng-model="model.fecha_accion" ng-value="date">
                    </label>
-->
                    <label class="item item-input item-stacked-label row">
                        <div class="col" style="padding-left: 11px">
                            <h2 class="input-label">Resultado de la accion</h2>
                        </div>
                        <div class="col">
                            <input type="text" placeholder="Escriba aquí el resultado" ng-model="model.resultado" style="text-align: right; padding-right: 35px;">
                        </div>
                    </label>

  <!--                  <label class="item item-input">
                        <span class="input-label">Fecha del resultado</span>
                        <input type="date" style="text-align: right" ng-model="model.fecha_resultado" ng-value="date">
                    </label>
-->
                    <div class="row">
                        <div class="col padding-horizontal">
                            <button class="button button-assertive" ng-click="closeModal()">Anular</button>
                        </div>
                        <div class="col padding-horizontal">
                            <button class="button button-metrogas" ng-class="{disabled: (model.accion_id == '' || model.accion_id == undefined)}" ng-click="enviar()">Enviar</button>
                        </div>
                    </div>
                </div>
            </form>
        </ion-content>
    </ion-modal-view>
    <script>
        var e = document.getElementById("ddlViewBy");
        txt = e.options[e.selectedIndex].text;
        document.getElementById("hidden").value = txt;
    </script>