<ion-header-bar class="bar-metrogas" align-title="center">
    <button class="button button-icon" ng-click="toggleMenu()">
        <i class="icon ion-navicon"></i>
    </button>
    <h1 class="title">Crear Dirección</h1>
</ion-header-bar>
<ion-content>

    <form>
        <div class="card">
            <div class="item item-text-wrap">
                <h2>Dirección</h2>
                <label class="item item-input item-stacked-label">
                    <h2 class="input-label">Calle</h2>
                    <input type="text" placeholder="Avenida Libertador Bernardo O'Higgins" ng-model="model.direccion">
                </label>

                <label class="item item-input item-stacked-label">
                    <h2 class="input-label">Número</h2>
                    <input type="number" placeholder="500" ng-model="model.numero">
                </label>

                <label class="item item-input item-stacked-label">
                    <h2 class="input-label">Tipo de Vivienda</h2>
                    <input type="text" placeholder="CASA SIN CT" ng-model="model.tipo_vivienda">
                </label>

                <label class="item item-input item-stacked-label">
                    <h2 class="input-label">Departamento</h2>
                    <input type="text" placeholder="45" ng-model="model.dpto">
                </label>

                <label class="item item-input item-stacked-label">
                    <h2 class="input-label">Casa</h2>
                    <input type="text" placeholder="25" ng-model="model.casa">
                </label>

                <label class="item item-input item-stacked-label">
                    <h2 class="input-label">Block</h2>
                    <input type="text" placeholder="A" ng-model="model.block">
                </label>

                <label class="item item-input item-stacked-label">
                    <h2 class="input-label">Comuna</h2>
                    <input type="text" placeholder="Recoleta" ng-model="model.comuna">
                </label>

                <label class="item item-input item-stacked-label">
                    <h2 class="input-label">Grilla</h2>
                    <input type="text" placeholder="08-09" ng-model="model.grilla">
                </label>

                <label class="item item-input item-select">
                    <h2 class="input-label">Origen</h2>
                    <select ng-model="model.origen">
                        <option ng-value="'demanda'">Demanda</option>
                        <option ng-value="'telefono'">Demanda (Teléfono)</option>
                        <option ng-value="'email'">Demanda (Email)</option>
                        <option ng-value="'lote'">Lote</option>
                        <option ng-value="'referido'">Referido</option>
                    </select>
                </label>

                <div class="item item-text-wrap">
                    <h2>Producto de Interés</h2>
                    <ion-list>
                        <ion-radio ng-model="model.observacion" ng-value="'RC'" name="observacion">RC</ion-radio>
                        <ion-radio ng-model="model.observacion" ng-value="'SCC'" name="observacion">SCC</ion-radio>
                        <ion-radio ng-model="model.observacion" ng-value="'ESTUFA'" name="observacion">ESTUFA</ion-radio>
                    </ion-list>
                  </div>
              </div>
        </div>

        <div class="card">
            <div class="item item-text-wrap">
                <h2>Contacto</h2>
                <label class="item item-input item-stacked-label">
                    <h2 class="input-label">Nombre</h2>
                    <input type="text" placeholder="Juan Perez" ng-model="model.nombre">
                </label>

                <label class="item item-input item-stacked-label">
                    <h2 class="input-label">Rut</h2>
                    <input type="text" placeholder="12.345.345-K" ng-model="model.rut">
                </label>

                <label class="item item-input item-stacked-label">
                    <h2 class="input-label">Correo</h2>
                    <input type="email" placeholder="A" ng-model="model.correo_BBDD">
                </label>

                <label class="item item-input item-stacked-label">
                    <h2 class="input-label">Teléfono</h2>
                    <input type="tel" placeholder="+56 (9) 12345678" ng-model="model.fono_BBDD">
                </label>
            </div>
        </div>
        <div class="item item-divider text-center row">
            <div class="col padding-horizontal">
                <button class="button button-assertive" ng-click="cancel()">Anular</button>
            </div>
            <div class="col padding-horizontal">
                <button class="button button-metrogas" ng-class="{disabled: (model.direccion == '' && model.numero == '' && model.comuna == '' )}" ng-click="enviar()">Siguiente</button>
            </div>
        </div>

    </form>
</ion-content>
