<ion-header-bar class="bar-metrogas" align-title="center">
    <button class="button button-icon">
        <i class="icon ion-navicon"></i>
    </button>
    <h1 class="title">Direcciones Asignadas</h1>
</ion-header-bar>
<ion-content style="margin-bottom: 50px;">



    <ion-slides ion-wizard>
        <ion-slide-page ion-wizard-step class="has-header">
            <div class="box blue"><h1>BLUE</h1></div>
            <ion-radio ng-model="choice" ng-value="'A'">Choose A</ion-radio>
            <ion-radio ng-model="choice" ng-value="'D'">Choose D</ion-radio>
        </ion-slide-page>

        <ion-slide-page ion-wizard-step next-condition="choice=='B'" class="has-header" ng-if="choice == 'A'">
            <div class="box yellow"><h1>YELLOW</h1></div>
            <ion-radio ng-model="choice" ng-value="'B'">Choose A</ion-radio>
        </ion-slide-page>

        <ion-slide-page ion-wizard-step next-condition="choice=='C'" class="has-header" ng-if="choice == 'D'>
            <div class="box pink"><h1>PINK</h1></div>
            <ion-radio ng-model="choice" ng-value="'C'">Choose A</ion-radio>
        </ion-slide-page>
    </ion-slides>

    <!--<ion-list>
        <ion-item ng-repeat="(key, value) in direccion">
            <label>
                <b><span class="input-label">{{key | uppercase}}</span></b>
                <input type="text" value="{{value}}" style="width: 100%">
            </label>
        </ion-item>
    </ion-list>-->

</ion-content>
<div class="bar bar-footer row">
    <div class="col col-50">
        <button class="button icon-left ion-plus-circled">Acciones Comerciales</button>
    </div>
    <div class="col col-50">
        <button class="button icon-left ion-checkmark-round">Guardar</button>
    </div>
</div>