<ion-modal-view>
    <div class="card">
        <div class="item item-text-wrap">
            <h1>1{{dir.casa}}</h1>
            <h1>2{{dir.block}}</h1>
            <h1>3{{dir.dpto}}</h1>
            <h1>4{{dir.comuna}}</h1>
            <h1>5{{dir.IC}}</h1>
            <h1>6{{dir.grilla}}</h1>
            <div class="item item-divider">
                <h4>Datos almacenados</h4>
                <br>
                <p>Telefono: {{direccion.fono_BBDD}}</p>
                <p>Correo: {{direccion.correo_BBDD}}</p>
            </div>

            <label class="item item-input item-stacked-label">
                <h2 class="input-label">Nombre</h2>
                <input type="text" placeholder="Juan Perez" ng-model="model.nombre">
            </label>

            <label class="item item-input item-stacked-label">
                <h2 class="input-label">Rut</h2>
                <input type="text" placeholder="12.123.123-K" ng-model="model.rut">
            </label>

            <label class="item item-input item-stacked-label">
                <h2 class="input-label">Correo Actualizado</h2>
                <input type="text" placeholder="correo@ejemplo.com" ng-model="model.correo_actualizado">
            </label>

            <label class="item item-input item-stacked-label">
                <h2 class="input-label">Teléfono Actualizado</h2>
                <input type="tel" placeholder="+56 9 1234 5678" ng-model="model.fono_actualizado">
            </label>
        </div>
        <div class="item item-divider text-center row">
            <div class="col padding-horizontal">
                <button class="button button-assertive" ng-click="cancel()">Anular</button>
            </div>
            <div class="col padding-horizontal">
                <button class="button button-metrogas" ng-class="{disabled: (model.contactada == '' || model.contactada == undefined)}" ng-click="stepForward('4')">Siguiente</button>
            </div>
        </div>
    </div>
</ion-modal-view>