<ion-header-bar class="bar-metrogas" align-title="center">
    <button class="button button-icon" ng-click="toggleMenu()">
        <i class="icon ion-navicon"></i>
    </button>
    <h1 class="title">Direcciones Asignadas</h1>
</ion-header-bar>
<ion-content style="margin-bottom: 50px;">

<form>

        <!-- Tocar puerta -->
        <div class="card" ng-show="step == 1">
            <div class="item item-text-wrap">
                <h2>¿Tocó Puerta?</h2>
                <ion-list>
                    <ion-radio ng-model="direccion.recorrida" ng-value="1" name="recorrida" ng-change="stepForward()">SI</ion-radio>
                    <ion-radio ng-model="direccion.recorrida" ng-value="0" name="recorrida">NO</ion-radio>
                </ion-list>
            </div>
        </div>

        <!-- Hacer contacto -->
        <div class="card" ng-show="step == 2">
            <div class="item item-text-wrap">
                <h2>¿Hizo contacto?</h2>
                <ion-list>
                    <ion-radio ng-model="direccion.contactada" ng-value="1" name="conectada" ng-change="stepForward()">SI</ion-radio>
                    <ion-radio ng-model="direccion.contactada" ng-value="0" name="contactada">NO</ion-radio>
                </ion-list>
            </div>
        </div>

          <!-- Motivo NO contacto -->
        <div class="card" ng-show="step == 3">
            <div class="item item-text-wrap">
                <h2>Motivo por el qué no hizo contacto</h2>
                <div class="list">
                  <label class="item item-input item-select" id="label">
                      <select ng-model="model.contactada">
                          <option value="no sabe">No se</option>
                          <option value="no importa">No importa</option>
                          <option value="salu2">Paq kieres saber eso jaja salu2!</option>
                      </select>
                  </label>
                </div>
            </div>
        </div>

          <!-- Editar datos de contacto-->
        <div class="card" ng-show="step == 4">
            <div class="item item-text-wrap">
                <div class="item item-divider">
                  <h4>Datos almacenados</h4>
                  <br>
                  <p>Telefono: {{direccion.fono_BBDD}}</p>
                  <p>Correo: {{direccion.correo_BBDD}}</p>
                </div>

                <label class="item item-input item-stacked-label">
                  <h2 class="input-label">Nombre</h2>
                  <input type="text" placeholder="Juan Perez" ng-model="model.nombre">
                </label>

                <label class="item item-input item-stacked-label">
                  <h2 class="input-label">Correo Actualizado</h2>
                  <input type="text" placeholder="correo@ejemplo.com" ng-model="model.correo_actualizado">
                </label>

                <label class="item item-input item-stacked-label">
                  <h2 class="input-label">Teléfono Actualizado</h2>
                  <input type="text" placeholder="John" ng-model="model.fono_actualizado">
                </label>
            </div>
        </div>
        <!--
        <div class="card">
          <div class="item item-text-wrap">
              This is a basic Card which contains an item that has wrapping text.
          </div>
        </div>

        <div class="card">
          <div class="item item-text-wrap">
              This is a basic Card which contains an item that has wrapping text.
          </div>
        </div>-->
      </form>
</ion-content>
<div class="bar bar-footer row">
    <div class="col col-50">
        <button class="button icon-left ion-plus-circled">Acciones Comerciales</button>
    </div>
    <div class="col col-50">
        <button class="button icon-left ion-checkmark-round" ng-click="save()">Guardar</button>
    </div>
</div>