<ion-modal-view>
    <div class="bar bar-header bar-light">
        <h1 class="title">Modificar Datos</h1>
    </div>
    <br>
    <br>
    <h5 class="text-center">{{dir.direccion}} {{dir.numero}}
        <span ng-if="dir.casa!==null">Casa {{dir.casa}}</span>
        <span ng-if="dir.block!==null">Block {{dir.block}}</span>
        <span ng-if="dir.dpto!==null">Depto. {{dir.dpto}}</span></h5>
    <div class="item item-text-wrap">
        <label class="item item-input item-stacked-label">
            <h2 class="input-label">Nombre:</h2>
            <input type="text" ng-model="dir.nombre">
        </label>

        <label class="item item-input item-stacked-label">
            <h2 class="input-label">Rut:</h2>
            <input type="text" ng-model="dir.rut">
        </label>

        <label class="item item-input item-stacked-label">
            <h2 class="input-label">Correo Actualizado:</h2>
            <input type="text" ng-model="dir.correo_actualizado">
        </label>

        <label class="item item-input item-stacked-label">
            <h2 class="input-label">Telefono Actualizado:</h2>
            <input type="tel" ng-model="dir.fono_actualizado">
        </label>
        <label class="item item-input item-stacked-label">
            <h2 class="input-label">Producto de Interes:</h2>
            <input type="text" ng-model="dir.observacion">
        </label>
    </div>
    <div class="item item-divider text-center row">
        <div class="col padding-horizontal">
            <button class="button button-assertive" ng-click="closeModal(2)">Cancelar</button>
        </div>
        <div class="col padding-horizontal">
            <button class="button button-metrogas" ng-click="editarDir()">Guardar</button>
        </div>
    </div>
</ion-modal-view>