<ion-header-bar class="bar-metrogas" align-title="center">
    <button class="button button-icon">
        <i class="icon ion-navicon"></i>
    </button>
    <h1 class="title">Direcciones Asignadas</h1>
</ion-header-bar>
<ion-content style="margin-bottom: 50px;">

    <!-- Tocar puerta -->
    <form>
        <div class="card">
            <div class="item item-text-wrap">
                <h2>¿Tocó Puerta?</h2>
                <ion-list>
                    <ion-radio ng-model="model.recorrida" ng-value="'A'">SI</ion-radio>
                    <ion-radio ng-model="model.recorrida" ng-value="'B'">NO</ion-radio>
                </ion-list>
            </div>
        </div>

        <!-- Hacer contacto -->
        <div class="card">
            <div class="item item-text-wrap">
                <h2>¿Hizo contacto?</h2>
                <ion-list>
                    <ion-radio ng-model="model.contactada" ng-value="'A'">SI</ion-radio>
                    <ion-radio ng-model="model.contactada" ng-value="'B'">NO</ion-radio>
                </ion-list>
            </div>
        </div>

        <!-- Motivo NO contacto -->
        <div class="card">
            <div class="item item-text-wrap">
                <h2>Motivo por el qué no hizo contacto</h2>
                <div class="list">
                    <label class="item item-input item-select">
                        <select>
                            <option>No se</option>
                            <option>No importa</option>
                            <option>Paq kieres saber eso jaja salu2!</option>
                        </select>
                    </label>
                </div>
            </div>
        </div>

        <div class="card">
            <div class="item item-text-wrap">
                This is a basic Card which contains an item that has wrapping text.
            </div>
        </div>

        <div class="card">
            <div class="item item-text-wrap">
                This is a basic Card which contains an item that has wrapping text.
            </div>
        </div>

        <div class="card">
            <div class="item item-text-wrap">
                This is a basic Card which contains an item that has wrapping text.
            </div>
        </div>
    </form>
    <!--<ion-list>
        <ion-item ng-repeat="(key, value) in direccion">
            <label>
                <b><span class="input-label">{{key | uppercase}}</span></b>
                <input type="text" value="{{value}}" style="width: 100%">
            </label>
        </ion-item>
    </ion-list>-->

</ion-content>
<div class="bar bar-footer row">
    <div class="col col-50">
        <button class="button icon-left ion-plus-circled">Acciones Comerciales</button>
    </div>
    <div class="col col-50">
        <button class="button icon-left ion-checkmark-round">Guardar</button>
    </div>
</div>