    <ion-modal-view>
        <ion-header-bar>
            <h1 class="title">Filtrar</h1>
            <button class="button button-small" ng-click="closeModal()">X</button>
        </ion-header-bar>
        <ion-content>
            <div class="list">
                <label class="item item-input item-select">
                    <div class="input-label">
                        Calle
                    </div>
                    <select ng-model="filterOptions.calle">
                        <option value="">Todos</option>
                        <option ng-repeat="obj in allCalles" value="{{obj.direction}}">{{obj.direccion}}</option>
                    </select>
                </label>

                <label class="item item-input item-select">
                    <div class="input-label">
                        Comuna
                    </div>
                    <select ng-model="filterOptions.comuna">
                        <option value="">Todas</option>
                        <option ng-repeat="obj in allComunas" value="{{obj.comuna}}">{{obj.comuna}}</option>
                    </select>
                </label>

                <label class="item item-input item-select">
                    <div class="input-label">
                        Grilla
                    </div>
                    <select ng-model="filterOptions.grilla">
                        <option value="">Todos</option>
                        <option ng-repeat="obj in allGrilla" value="{{obj.grilla}}">{{obj.grilla}}</option>
                    </select>
                </label>

                <label class="item item-input item-select">
                    <div class="input-label">
                        Recorrida
                    </div>
                    <select ng-model="filterOptions.recorrida">
                        <option value="">Todos</option>
                        <option value="0">Si</option>
                        <option value="1">No</option>
                    </select>
                </label>

                <label class="item item-input item-select">
                    <div class="input-label">
                        Contactada
                    </div>
                    <select ng-model="filterOptions.contactada">
                        <option value="">Todos</option>
                        <option value="0">Si</option>
                        <option value="1">No</option>
                    </select>
                </label>

                <label class="item item-input item-select">
                    <div class="input-label">
                        IC
                    </div>
                    <input type="text" ng-model="filterOptions.ic">
                </label>

            </div>
            <div style="text-align: center">
                <button class="button button-positive" ng-click="closeModal()">
                    Aplicar
                </button>
                <button class="button button-royal" ng-click="resetFilter()">
                    Borrar Filtros
                </button>
            </div>
        </ion-content>
    </ion-modal-view>
