<div class="text-center">
    <img src="images/metrogas-logo.png" alt="">
</div>
<div class="row">
    <div class="col text-center">
        <div class="list list-inset login">
            <form ng-submit="login()">
                <label class="item item-input">
                    <input type="text" placeholder="Usuario" ng-model="data.username" autofocus ng-required="true">
                </label>
                <label class="item item-input ">
                    <input type="password" placeholder="Contraseña" ng-model="data.password" ng-required="true">
                </label>
                <div class="row" style="margin-top: 15px;">
                    <div class="col text-center">
                        <input type="submit" class="button button-wide button-large button-metrogas" ng-class="{ disabled: (data.username == '' || data.password == '') || (data.username == undefined || data.password == undefined)}" value="Entrar">
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>