<ion-side-menu side="left">
    <ion-content scroll="false">
        <ion-list>
            <ion-item class="profile">
                <img src="images/user-icon.png" alt="">
                <h2>{{user.nombre +" "+ user.apellido}}</h2>
                <small>{{user.username}}</small>
                <br>
                <small>Direcciones Visitadas Hoy: {{visitadas}}</small>
            </ion-item>
           <ion-item ng-click="close()" ui-sref="app">Inicio</ion-item>
           <ion-item ng-click="close()" ui-sref="app.asignadas">Direcciones Asignadas</ion-item>
           <ion-item ng-click="close()" ui-sref="app.new">Nueva Direcci&oacute;n</ion-item>
           <ion-item ng-click="close()" ui-sref="app.historial">Mi Historial</ion-item>
           <ion-item ng-click="endSesion()">Cerrar Sesi&oacute;n</ion-item>
        </ion-list>
    </ion-content>
</ion-side-menu>