.bar-metrogas{
    background-color: #71AFE0 !important;
    color: #ffffff;
}

.bar-footer{
    height: 50px !important;
}
.profile img{
    width: 25%;
    margin-bottom: 6%;
}

.item-content p {
    overflow: visible !important;
    text-overflow: initial !important;
    white-space: initial !important;
}

.popup-body{
    text-align: center;
}

.button-wide, .login{
    width: 90%;
}

.button-metrogas{
    background-color: #71AFE0 !important;
}
.login{
    margin: 0 auto !important;
}

.item .badge{
    top: 35px !important;
}

button.button-clear > i.icon.ion-funnel:before{
    font-size: 18px !important;
    padding-bottom: 10px;
}

.button .icon {
    vertical-align: middle;
}

.button-clear{
    color: #000 !important;
}

.col > .button {
    width: 100%;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    font-size: 100%;
}

a.button{
    line-height: 6;
}

.container{
    margin-top: 10%;
}

.bold{
    font-weight: 500;
}

.center {
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.title{
    line-height: 2.8;
}

.button .button-small .button-clear{
    line-height: 3;
}

.row{
    word-break: break-word;
}

.item-complex .item-content, .item-radio .item-content {
    padding: 16px 0px 16px 16px !important;
}

.item, .item h1, .item h2, .item h3, .item h4, .item h5, .item h6, .item p, .item-content, .item-content h1, .item-content h2, .item-content h3, .item-content h4, .item-content h5, .item-content h6, .item-content p {
    white-space: inherit;
}

.label-big{
    height: 35px;
}

.input-label{
    width: auto !important;
}